name: mintieba

services:
  mysql:
    container_name: mintieba-mysql
    image: mysql:8.4
    command: [ "--mysql-native-password=ON",
               "--character-set-server=utf8mb4",
               "--collation-server=utf8mb4_unicode_ci" ]
    env_file:
      - .env
    environment:
      TZ: ${TZ}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d:ro
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -p${MYSQL_ROOT_PASSWORD} --silent" ]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    container_name: mintieba-redis
    image: redis:7.4
    command: [ "redis-server","--appendonly","yes" ]
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli","ping" ]
      interval: 5s
      timeout: 3s
      retries: 20

  minio:
    container_name: mintieba-minio
    image: minio/minio:latest
    command: [ "server","/data","--console-address",":9001" ]
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
      TZ: ${TZ}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: [ "CMD","curl","-f","http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 10

  app:
    container_name: mintieba-app
    build:
      context: ../..              # 以 /project 为构建上下文
      dockerfile: deploy/docker_env/Dockerfile
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
      TZ: ${TZ}
    ports:
      - "${APP_PORT}:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy

networks:
  default:
    name: app_net

volumes:
  mysql_data:
  redis_data:
  minio_data:
